
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>canvastest</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="lunchCanvas">
        <h1 class="title"><span class="today-menu">오늘의 밥밥밥</span><span class="spoon"></span></h1>
        <h2 v-if="this.todayLunch" class="today-lunch">오늘의 메뉴는 {{todayLunch}} 입니다</h2>
        <div class="wrap-ipt">
            <select v-model="selected">
                <option v-for="option in options" v-bind:value="option.value">{{option.text}}</option>
            </select>
            <input type="text" class="ipt-lunch" v-model="newMenu" v-on:keyup.13="addLunch">
            <button @click="addLunch" class="btn-add">메뉴추가</button>
            <button class="btn-spin" @click="spinLunch()" v-if="this.lunchMenu.length > 0">오늘 뭐먹을지 돌려보자</button>
        </div>
        <div class="wrap-lunchbox">
            <div class="list-lunch">
                <div class="current-lunch" v-for="(lunch, n) in lunchMenu">
                    <strong class="name">{{lunch}}</strong>
                    <button @click="removeLunch(n)" class="btn-delete">삭제</button>
                </div>
            </div>
            <div class="wrap-lunch">
                <div class="arrow" v-if="this.lunchMenu.length > 0"></div>
                <div class="lunchCircle">
                    <canvas id="lunchMenuCircle" width="500" height="500"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#lunchCanvas',
            data: {
                lunchMenu: [],
                newMenu : null,
                saveWheel : null,
                todayLunch : null,
                randomDeg : null,
                selected: 'default',
                options: [
                    {value: 'default', text: '버전을 골라주세요'},
                    {value: 'lunch', text: '점심메뉴 버전'},
                    {value: 'dinner', text: '석식메뉴 버전'},
                    {value: 'soju', text: '회식 버전'},
                    {value: 'new', text: '새롭게'}
                ]
            },
            mounted() {
                if(localStorage.getItem('lunch')) {
                    try {
                        this.lunchMenu = JSON.parse(localStorage.getItem('lunch'));
                    } catch(e) {
                        localStorage.removeItem('lunch');
                    }
                }
                this.drawLunchCanvas();
            },
            updated() {
                this.drawLunchCanvas();
            },
            watch : {
                
            },
            computed: {
                
            },
            methods: {
                spinLunch() {
                    if(this.lunchMenu.length > 0) {
                        let that = this;
                        let rand2 = Math.floor(Math.abs(Math.random() * 10000)) + 1;
                        const canvas = document.querySelector('.lunchCircle');
                        canvas.style.transform = "rotate("  + rand2 + "deg)"
                        // canvas의 트랜지션 이벤트가 끝나고 나서 saveCurrentWheel 메서드 실행
                        // this bind 문제 때문에 arrow function을 사용, arrow function을 사용 하면 arrow function 안에서의 this는 obj를 가리키기 때문에 scope 변화 없음.
                        canvas.addEventListener('webkitTransitionEnd',() => {
                            that.saveCurrentWheel(rand2);
                        }, false);
                    } else {
                        alert('메뉴를 입력해 주세요.');
                    }
                },
                saveCurrentWheel(current) {
                    this.todayLunch = '';
                    var randomDeg = 360 - (current % 360);
                    var len = this.lunchMenu.length;
                    var sliceDeg = 360/len;
                    for(var i = 0; i < len; i++) {
                        if(randomDeg > this.saveWheel[i].deg && this.saveWheel[i].deg + sliceDeg > randomDeg){
                            this.todayLunch = this.saveWheel[i].menu;
                        }
                    }
                },
                byte2Hex(n) {
                    let nybHexString = "0123456789ABCDEF";
                    return String(nybHexString.substr((n >> 4) & 0x0F,1)) + nybHexString.substr(n & 0x0F,1);
                },
                RGB2Color(r,g,b) {
                    return '#' + this.byte2Hex(r) + this.byte2Hex(g) + this.byte2Hex(b);
                },
                getColor(item, maxitem) {
                    var phase = 0;
                    var center = 128;
                    var width = 127;
                    var frequency = Math.PI*2/maxitem;
                    
                    red   = Math.sin(frequency*item+2+phase) * width + center;
                    green = Math.sin(frequency*item+0+phase) * width + center;
                    blue  = Math.sin(frequency*item+4+phase) * width + center;
                    
                    return this.RGB2Color(red,green,blue);
                },
                addLunch() {
                    if(!this.newMenu) {
                        return;
                    }
                    this.lunchMenu.push(this.newMenu);
                    this.newMenu = '';
                    this.saveLunch();
                },
                saveLunch() {
                    const parsed = JSON.stringify(this.lunchMenu);
                    localStorage.setItem('lunch', parsed);
                },
                removeLunch(x) {
                    this.lunchMenu.splice(x, 1);
                    this.saveLunch();
                },
                getDeg(deg) {
                    return deg * Math.PI/180;
                },
                drawCanvas(deg, color) {
                    const canvas = document.getElementById('lunchMenuCircle');
                    const ctx = canvas.getContext('2d');
                    ctx.beginPath();
                    ctx.fillStyle = color;
                    ctx.moveTo(250,250);
                    ctx.arc(250, 250, 250, this.getDeg(deg), this.getDeg(deg+(360/this.lunchMenu.length)));
                    ctx.lineTo(250,250);
                    ctx.fill();
                },
                drawCanvasText(deg, text) {
                    const canvas = document.getElementById('lunchMenuCircle');
                    const ctx = canvas.getContext('2d');
                    ctx.save();
                    ctx.translate(250, 250);
                    ctx.rotate(this.getDeg(deg));
                    ctx.textAlign = "right";
                    ctx.fillStyle = '#fff';
                    ctx.font = "bold 15px sans-serif";
                    ctx.fillText(text, 130, 10);
                    ctx.restore();
                },
                drawLunchCanvas() {
                    let deg = 0;
                    let len = this.lunchMenu.length
                    let sliceDeg = 360/len;
                    this.saveWheel = [];
                    if (len == 0) {
                        const canvas = document.getElementById('lunchMenuCircle');
                        const ctx = canvas.getContext('2d');
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        ctx.beginPath();
                        return;
                    }
                    
                    for(var i = 0; i < len; i++) {
                        var menu = this.lunchMenu[i]
                        var currentWheel = {
                            'deg' : deg,
                            'menu' : menu
                        }
                        this.drawCanvas(deg, this.getColor(i, len));  
                        this.drawCanvasText(deg + sliceDeg/2 , this.lunchMenu[i]);
                        this.saveWheel.push(currentWheel)
                        deg += sliceDeg;
                    }
                }
            }
        })
        // vue inspector 
        Vue.config.devtools = true
    </script>
</body>
</html>