.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

ul, ol {
	list-style: none;
}

.btn-reset {
	background-color: transparent;
	border: none;
}

/*body {
    overflow-x: hidden;
    overflow-y: hidden;
}*/
/*body.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}*/
.sfd-coverage-value-picker-box {
	width: 652px;
	border: 2px solid #e7ecf0;
	margin: 30px 0 30px 30px;
	padding: 30px 25px;
}

.sfd-coverage-value-picker-box.compact {
	width: 462px;
	height: 178px;
	border: 2px solid #e7ecf0;
	margin: 30px 0 30px 30px;
	padding: 20px 20px;
}

.sfd-coverage-value-picker-box.compact .title {
	margin-bottom: 15px;
}

.sfd-coverage-value-picker {
	position: relative;
	padding: 0 50px;
}

.sfd-coverage-value-picker .row-label {
	top: 48px;
	position: absolute;
	left: 0;
	font-size: 13px;
}

.sfd-coverage-value-picker .row-label .item {
	display: block;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 2px;
}

.sfd-coverage-value-picker .slider-container {
	position: relative;
	overflow: hidden;
	font-size: 0;
}

.sfd-coverage-value-picker .slider-container:before {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	top: 10px;
	height: 6px;
	background-color: #8b97a5;
	border-radius: 3px;
}

.sfd-coverage-value-picker .slider-list {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.sfd-coverage-value-picker .slider-item {
	display: table-cell;
	text-align: center;
	width: 124px;
	vertical-align: top;
	padding-top: 33px;
}

.sfd-coverage-value-picker .inner-btn {
	position: relative;
	display: inline-block;
	width: 120px;
	line-height: 20px;
	color: #353942;
	text-decoration: none;
	font-weight: 400;
	padding: 13px 3px 12px;
	border: 1px solid transparent;
	vertical-align: top;
	font-size: 14px;
	border-radius: 2px;
}

.sfd-coverage-value-picker .inner-btn .label {
	color: #000;
	margin-bottom: 2px;
}

.sfd-coverage-value-picker .inner-btn p {
	margin: 0;
}

.sfd-coverage-value-picker .inner-btn .amount span {
	color: #fd6e0e;
}

.sfd-coverage-value-picker .inner-btn:before {
	content: '';
	position: absolute;
	left: 0;
	top: -30px;
	right: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #838c93;
	margin: auto;
	border-radius: 50%;
	background-color: #fff;
	box-sizing: border-box;
}

.sfd-coverage-value-picker .inner-btn:hover:before {
	background-color: #f3f3f3;
}

.sfd-coverage-value-picker .inner-btn[aria-selected="true"] {
	font-weight: 500;
	border: 1px solid #ff7800;
}

.sfd-coverage-value-picker .inner-btn[aria-selected="true"]:before {
	content: ' ';
	border: 3px solid #ff7800;
	top: -30px;
}

.sfd-coverage-value-picker .inner-btn[aria-selected="true"]:hover:before {
	background-color: #fff;
}

.sfd-coverage-value-picker .inner-btn[aria-selected="true"]:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 100%;
	background-color: #fff;
	background-image: url(/ria/pc/product/common/image/sprites-coverage-value-picker.png);
	background-size: 50px 40px;
	background-position: -28px -4px;
	width: 12px;
	height: 12px;
}

.sfd-coverage-value-picker .inner-btn[aria-selected="true"]:focus {
	outline: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.sfd-coverage-value-picker .inner-btn[aria-selected="true"]:after {
		background-image: url(/ria/pc/product/common/image/sprites-coverage-value-picker@2x.png);
		background-size: 50px 40px;
		background-position: -28px -4px;
	}
}

.sfd-coverage-value-picker .animating .inner-btn[aria-selected="true"] {
	border-color: transparent;
}

.sfd-coverage-value-picker .animating .inner-btn[aria-selected="true"]:after {
	display: none;
}

.sfd-coverage-value-picker .animation-inner-btn {
	position: relative;
	display: inline-block;
	width: 120px;
	line-height: 20px;
	color: #353942;
	font-weight: 400;
	padding: 13px 3px 12px;
	vertical-align: top;
	font-size: 14px;
	border: 1px solid #ff7800;
	border-radius: 2px;
}

.sfd-coverage-value-picker .animation-inner-btn:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 100%;
	background-color: #fff;
	background-image: url(/ria/pc/product/common/image/sprites-coverage-value-picker.png);
	background-size: 50px 40px;
	background-position: -28px -4px;
	width: 12px;
	height: 12px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.sfd-coverage-value-picker .animation-inner-btn:after {
		background-image: url(/ria/pc/product/common/image/sprites-coverage-value-picker@2x.png);
		background-size: 50px 40px;
		background-position: -28px -4px;
	}
}

.sfd-coverage-value-picker .slider-btn {
	position: absolute;
	width: 30px;
	height: 25px;
	top: 1px;
	cursor: not-allowed;
	border: 1px solid #919ca5;
	border-radius: 2px;
	opacity: 0.5;
	background-color: #fff;
}

.sfd-coverage-value-picker .slider-btn .icon {
	background-image: url(/ria/pc/product/common/image/sprites-coverage-value-picker.png);
	background-size: 50px 40px;
	color: transparent;
	font-size: 0;
	width: 7px;
	height: 13px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.sfd-coverage-value-picker .slider-btn .icon {
		background-image: url(/ria/pc/product/common/image/sprites-coverage-value-picker@2x.png);
		background-size: 50px 40px;
	}
}

.sfd-coverage-value-picker .slider-btn.type-prev {
	position: absolute;
	left: 0;
}

.sfd-coverage-value-picker .slider-btn.type-prev .icon {
	position: absolute;
	left: 10px;
	top: 5px;
	background-position: -4px -20px;
}

.sfd-coverage-value-picker .slider-btn.type-next {
	position: absolute;
	right: 0;
}

.sfd-coverage-value-picker .slider-btn.type-next .icon {
	position: absolute;
	right: 10px;
	top: 5px;
	background-position: -16px -20px;
}

.sfd-coverage-value-picker .slider-btn[aria-disabled="false"] {
	cursor: pointer;
	opacity: 1.0;
}

.sfd-coverage-value-picker .slider-btn[aria-disabled="false"]:hover {
	background-color: #f3f3f3;
}

.sfd-coverage-value-picker .slider-btn[aria-disabled="false"].type-next {
	border-color: #ff7800;
}

.sfd-coverage-value-picker .slider-btn[aria-disabled="false"].type-next .icon {
	background-position: -16px -4px;
}

.sfd-coverage-value-picker .slider-btn[aria-disabled="false"].type-prev {
	border-color: #ff7800;
}

.sfd-coverage-value-picker .slider-btn[aria-disabled="false"].type-prev .icon {
	background-position: -4px -4px;
}

.sfd-coverage-value-picker.type-compact {
	padding: 0 40px;
}

.sfd-coverage-value-picker.type-compact .row-label {
	top: 47px;
}

.sfd-coverage-value-picker.type-compact .row-label .item {
	letter-spacing: -1px;
	font-size: 12px;
}

.sfd-coverage-value-picker.type-compact .slider-item .label {
	letter-spacing: -0.5px;
}

.sfd-coverage-value-picker.type-compact .slider-btn {
	width: 20px;
}

.sfd-coverage-value-picker.type-compact .slider-btn.type-prev .icon {
	left: 5px;
}

.sfd-coverage-value-picker.type-compact .slider-btn.type-next .icon {
	right: 5px;
}

/*# sourceMappingURL=map/product.css.map */
